.img1{
    margin-left: 35px;
    margin-top: 35px;
}
.fire12{
    font-size: 25px;
    margin-top: 45px;
    margin-left: 10px;
}
  .jump{
      margin-top: -50px;
      margin-left: 150px;
      font-size: 70px;
  }  
  .see{
      margin-left: 150px;
      margin-top: -150px;
  }
  .img123{
      margin-top: -100px;
      margin-left: 150px;
    
  }
  .img12345{
      margin-top: -100px;
      margin-left: -350px;
  }
  .car123{
      margin-left: 150px;
  }
  .email14{
      width: 250px;
  }
  .get145{
      font-size: 50px;
  }
  .mb{
      font-size: 45px;
  }
  .s12{
      width: 250px;
      margin-top: 15px;
  }
